h1 {
    /**background-color: red;**/
font-size: unset;
    color:blue;
   
}

h4 {
  font-size: unset;
 background-color: rgba(200, 200, 200, .6);

}

body{
 /**background: url("autogris.jpg");**/
 background-position: center;

}


p {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/**font-weight: ;**/
font-size: 1rem;
font-style: unset;
}
.toolbar{
    background-color:red;
color:white;
background-color: rgb(10, 100, 158)

}

h4{
    text-align: center;
}

.titulodos {text-align: right;
text-decoration: overline;
}

.noticia {
line-height: 20px;
/*text-transform: capitalize;*/
/*text-transform: uppercase;*/
text-transform: lowercase;
text-align: justify;
}

#destacada {
    width: 400px;
    height: 250px;
    border: tomato;
}

h5 {
    text-align: justify;
}

table {

width: 30em;
height: 10em;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
padding-top: 1rem;
padding-right: 1rem;
padding-bottom: 1rem;
padding-left: 1rem;

border-top-width: 2rem;
border-top-color:rgb(10, 100, 158);
border-right-width: 2rem;
border-right-color:rgb(10, 100, 158);
border-bottom-width: 2rem;
border-bottom-color: rgb(10, 100, 158);
border-left-width: 2rem;
border-left-color: rgb(10, 100, 158);
background-color: rosybrown; 
/**font-family: Arial, Helvetica, sans-serif;**/
font-size: 25px;
/**font-weight: 70px;**/
/*border-collapse: collapse;*/
box-shadow: green;
}

.mainmenubtn {
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}

.mainmenubtn:hover {
    background-color: blue;
    }

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}
.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}


.lista {       /* lower minuscula, uper mayuscula */
    list-style-type: lower-greek;
    list-style-position: inside;
    /*list-style-image: url("autogris.jpg")*/    
    

}

.google:link { /*hover*/
  color:red
}

.google:hover {
  color: sandybrown;
}

.google:active {
  color: blueviolet;
}

.google:visited {
    color: green;
}